body{
    font-family: 'Aleo', serif;
    background: url("../images/g898hmO.jpg") no-repeat;
    background-size: cover;
}
.container-fluid{
    position:relative;

  }
/* .container-fluid img{
    background: no-repeat center center fixed;
    position:absolute;
    top:0;
    z-index:1
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
} */
.jumbotron.text-center{
    min-height: 400px;
    position: absolute;
    z-index:2;
    left: 50%;
    transform: translateX(-50%);
}
h1 {
    font-size: 4.2em;
    font-family: 'Aleo', serif;
}
#show-number{
    font-size: 3.5em;
    font-family: 'Aleo', serif;
}

.startBtn {
    margin-top: 10px;
}